* {
  text-align: center;
}

.background {
  background-image: url("../img/first.jpg");
  height: 500px;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  text-decoration-color: white;
  color: white;
}

.rtitle {
  text-align: center;
  margin-bottom: 50px;
}

#LOGO {
  margin-top: 5%;
  margin-bottom: 10%;
}

.bottom {
  padding-top: 17%;
}

.services {
  background-image: url("../img/s_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 500px;
  text-align: center;
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
}

.about {
  text-align: center;
}

.col-md-3{
  margin-top: 20px;
}
